* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  body {
    height: 100%;
    /* background: linear-gradient(135deg, #c3a3f1, #6414e9); */
    background-image: url('background1.jpg');
  }
  .wrapper {
    width: 90%;
    max-width: 34.37em;
    max-height: 100vh;
    background-color: #ffffff;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    padding: 0em;
    border-radius: 1em;
    box-shadow: 0 4em 5em rgba(27, 8, 53, 0.2);
    top: 800px;
    margin: 0 auto;
  }
  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  #wheel {
    max-height: inherit;
    width: inherit;
    top: 0;
    padding: 0;
  }
  @keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  #spin-btn {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    height: 26%;
    width: 26%;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    background: radial-gradient(#fdcf3b 50%, #d88a40 85%);
    color: #c66e16;
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: 0.1em;
    font-weight: 600;
  }
  img {
    position: absolute;
    width: 4em;
    top: 45%;
    right: -10%;
  }
  #final-value {
    font-size: 1.5em;
    text-align: center;
    margin-top: 1.5em;
    color: #202020;
    font-weight: 500;
  }
  @media screen and (max-width: 768px) {
    .wrapper {
      font-size: 12px;
    }
    img {
      right: -5%;
    }
  }
  table.center {
    margin-left:auto; 
    margin-right:auto;
  }

  .p_network {
    border: 4px solid;
    border-radius: 10px;
    padding: 10px;
    border-color: #2196F3;
    text-align: center;
    width: 15em;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .p_warning {
      padding: 10px;
      text-align: center;
      margin: auto;
      color: red;
  }

  .title {
      text-align: center;
      margin: auto;
      margin-top: 9px;
      margin-bottom: 20px;
  }

  table.info tr {
      line-height: 2em;
  }

  table.info .table-label {
      width: 10em;
      margin-right: 20px;
      font-weight: bold;
  }

  table.info .table-value {
    word-break: break-all;
  }

  .candidate_name {
      font-size: 26px;
      margin-bottom: 16px;
  }

  .candidate_total_vote {
    font-size: 50px;
  }
  #send-reward-btn  {
    display: none;
  }
  #reset-game-btn  {
    display: none;
  }
  #send-reward-btn-modal  {
    display: none;
  }
  .title-word {
    animation: color-animation 4s linear infinite;
  }
  
  .title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
  }
  
  .title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
  }
  
  .title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
  }
  
  .title-word-4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
  }
  
  @keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
  }
  
  